*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html{
  font-size: 62.5%;
}





/* header responsive code  */
@media(max-width:998px) {
  html{
      font-size: 55%;
  }

  
}

@media(max-width:75px) {
  html {
      font-size: 45%;
  }
}

.main-container{
  height: 170vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("download.png");
  background-size: cover;
  /* background-position: center; */
}

.logo{
  cursor: pointer;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-right: 10%;
  padding-left: 10%;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 2.5rem 2.5rem;
}

nav ul li a{
  color: rgb(243, 243, 72);
  text-decoration: none;
  font-weight: 400;
}

button{
  border: none;
  background: red;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  /* border: 4px solid rgb(255, 255, 255); */
  border-style: inset;
  cursor: pointer;
  padding:  0.25rem  0.25rem ;

}

button:hover{
  border: none;
  background: rgb(98, 0, 255);
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  border: 0.25rem solid black;
  border-style: inset;
}


.container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

p{
  text-align: center;
   font-size: 7.8rem;
    padding-top: 8% ;
    color: rgb(255, 255, 128);
}



.menu{
padding: 1.25rem 3.75rem; 
text-align: center;
font-size: 1.5rem;
margin-top: 2.5rem;
}

.bottom-img{
  position: absolute;
  padding-top: 8%;
  right: 6.25rem;
}
